.blog-container {
  border: 1px solid #c4d7e0;
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #eaf6f6;
  border-radius: 10px;
}
.blog-id {
  font-size: x-large;
  font-weight: 600;
}
.blog-title {
  font-size: large;
  font-weight: 400;
  font-style: oblique;
  color: #6e85b7;
}
.blog-body {
  white-space: nowrap;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.blog-container:hover {
  position: relative;
  bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
